<%= form_for (@user), url: "/homes/doctors_update/#{@user.id}" do |f| %>
<div class="field">
  <%= f.label :Email %>:
  <%= f.email_field :email %>
</div>
<div class="field">
  <%= f.label :Name %>:
  <%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :sex %>
  <%= f.radio_button :sex, 'male', :checked => true %> male
  <%= f.radio_button :sex, 'female' %> female
</div>
<div class="field">
  <%= f.label :Phone %>:
  <%= f.text_field :phone %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>

